.post-container
  h2.post-title
    a(href=baseUrl + post.path)= post.title
  include _post_meta
  .post!= post.contents

  if post.related !== undefined && post.related.length > 0
    #related-posts
      h2 Related Articles
      ul
        for related in post.related
          li
            a(href="https://mokacoding.com#{related.path}")= related.title

  .bottom-box#paginator.clearfixed
    .col-6
      if post.previous
        div
          a(href="#{baseUrl}#{post.previous.path}")
            | <<&nbsp;
            = post.previous.title
    .col-6
      if post.next
        div(style="text-align: right")
          a(href="#{baseUrl}#{post.next.path}")
            = post.next.title
            | &nbsp;>>

  .bottom-box#subscribe
    include _sendfox-form.html

  .bottom-box
    #disqus_thread
    //- We need the script defined in the template because it needs to access the URL of the post
    script.
      var disqus_shortname = "mokacoding";
      // Neet do add the / at the end to maintain compatibility with previous version
      // of the blog that didn't define disqus_url, letting Disqus set it automatically
      // using window.location.href
      var disqus_url = "https://mokacoding.com/#{post.path}/";

      (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
      })();
    noscript
      | Please enable JavaScript to view the
      a(href="https://disqus.com/?ref_noscript") comments powered by Disqus.
