.post-container
  h2.post-title
    a(href=baseUrl + post.path)= post.title
  include _post_meta
  .post!= post.contents

  .bottom-box.no-border#share-buttons
    .col-12
      a.twitter-share-button(href="https://twitter.com/share",
      'data-url'="http://www.mokacoding.com/#{post.path}",
      'data-via'="mokacoding",
      'datacount-url'="http://www.mokacoding.com/#{post.path}",
      'data-text'="#{post.title}").
        Tweet
      script.
        !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');

      a.hn-button(href="https://news.ycombinator.com/submit",
        'data-title'="#{post.title}",
        'data-url'="http://www.mokacoding.com/#{post.path}",
        'data-count'="horizontal",
        'data-style'="twitter").
          Vote on Hacker News
      script.
        var HN=[];HN.factory=function(e){return function(){HN.push([e].concat(Array.prototype.slice.call(arguments,0)))};},HN.on=HN.factory("on"),HN.once=HN.factory("once"),HN.off=HN.factory("off"),HN.emit=HN.factory("emit"),HN.load=function(){var e="hn-button.js";if(document.getElementById(e))return;var t=document.createElement("script");t.id=e,t.src="//hn-button.herokuapp.com/hn-button.js";var n=document.getElementsByTagName("script")[0];n.parentNode.insertBefore(t,n)},HN.load();

  .bottom-box.no-border
    .col-12
      include _responsive-ad

  .bottom-box#paginator.clearfixed
    .col-6
      if post.previous
        div
          a(href="#{baseUrl}#{post.previous.path}")
            | <<&nbsp;
            = post.previous.title
    .col-6
      if post.next
        div(style="text-align: right")
          a(href="#{baseUrl}#{post.next.path}")
            = post.next.title
            | &nbsp;>>

  .bottom-box#subscribe
    include _mailchimp-form-slim.html

  .bottom-box
    #disqus_thread
    //- We need the script defined in the template because it needs to access the URL of the post
    script.
      var disqus_shortname = "mokacoding";
      // Neet do add the / at the end to maintain compatibility with previous version
      // of the blog that didn't define disqus_url, letting Disqus set it automatically
      // using window.location.href
      var disqus_url = "http://www.mokacoding.com/#{post.path}/";

      (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
      })();
    noscript
      | Please enable JavaScript to view the
      a(href="https://disqus.com/?ref_noscript") comments powered by Disqus.
