.post-container
  h2.post-title
    a(href=baseUrl + post.path)= post.title
  include _post_meta
  .post!= post.contents

  //-
    script(async, src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js")
    ins(class="adsbygoogle", style="display:inline-block;width:728px;height:15px", data-ad-client="ca-pub-8818333244862281", data-ad-slot="3368690341")
    script.
      (adsbygoogle = window.adsbygoogle || []).push({});

  .bottom-box.no-border
    .col-12
      a.twitter-share-button(href="https://twitter.com/share",
      'data-url'="http://mokacoding.com/#{post.path}",
      'data-text'="#{post.title} | mokacoding")
        Tweet
      script.
        !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');

  .bottom-box#paginator.clearfixed
    .col-6
      if post.previous
        div
          a(href="#{baseUrl}#{post.previous.path}")
            | <<&nbsp;
            = post.previous.title
    .col-6
      if post.next
        div(style="text-align: right")
          a(href="#{baseUrl}#{post.next.path}")
            = post.next.title
            | &nbsp;>>

  .bottom-box
    #disqus_thread
    script(type="text/javascript", src="#{baseUrl}js/disqus.js")
    noscript
      | Please enable JavaScript to view the
      a(href="https://disqus.com/?ref_noscript") comments powered by Disqus.
