doctype html
html(lang="en")
  head
    - var page_title = "mokacoding"
    - var og_title = "mokacoding"
    if (typeof(title) !== 'undefined')
      - page_title = title + " | mokacoding"
      - og_title = title

    if !description
      - description = "A blog about testing, iOS development, productivity, and blabber about software in general."

    title= page_title
    meta(name="description", content="#{description}")

    meta(http-equiv="content-type" content="text/html; charset=utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1")

    if slug
      // Canonical URL
      link(rel="canonical" href="https://mokacoding.com/blog/#{slug}")

    // Open Graph meta tags
    meta(property="og:title" content="#{og_title}")
    meta(property="og:description" content="#{description}")
    meta(property="og:url" content="#{baseUrl}")
    meta(property="og:type" content="article")
    meta(property="og:site_name" content="mokacoding")
    if (typeof(og_image) !== 'undefined')
      meta(property="og:image" content="#{og_image}")

    // Twitter meta tags
    meta(property="twitter:card" content="summary")
    meta(property="twitter:site" content="@mokacoding")
    meta(property="twitter:creator" content="@mokagio")

    // Stylesheets
    link(href="#{baseUrl}css/griddy.css", rel="stylesheet")
    link(href="#{baseUrl}css/style.css", rel="stylesheet")
    link(href="#{baseUrl}css/font-awesome.min.css" rel="stylesheet")
    link(href="#{baseUrl}css/zenburn.css" rel="stylesheet")

    // FavIcon
    // Thanks to https://www.favicon-generator.org/ & https://html2jade.org/
    link(rel='apple-touch-icon', sizes='57x57', href='https://s3.amazonaws.com/mokacoding/apple-icon-57x57.png')
    link(rel='apple-touch-icon', sizes='60x60', href='https://s3.amazonaws.com/mokacoding/apple-icon-60x60.png')
    link(rel='apple-touch-icon', sizes='72x72', href='https://s3.amazonaws.com/mokacoding/apple-icon-72x72.png')
    link(rel='apple-touch-icon', sizes='76x76', href='https://s3.amazonaws.com/mokacoding/apple-icon-76x76.png')
    link(rel='apple-touch-icon', sizes='114x114', href='https://s3.amazonaws.com/mokacoding/apple-icon-114x114.png')
    link(rel='apple-touch-icon', sizes='120x120', href='https://s3.amazonaws.com/mokacoding/apple-icon-120x120.png')
    link(rel='apple-touch-icon', sizes='144x144', href='https://s3.amazonaws.com/mokacoding/apple-icon-144x144.png')
    link(rel='apple-touch-icon', sizes='152x152', href='https://s3.amazonaws.com/mokacoding/apple-icon-152x152.png')
    link(rel='apple-touch-icon', sizes='180x180', href='https://s3.amazonaws.com/mokacoding/apple-icon-180x180.png')
    link(rel='icon', type='image/png', sizes='192x192', href='https://s3.amazonaws.com/mokacoding/android-icon-192x192.png')
    link(rel='icon', type='image/png', sizes='32x32', href='https://s3.amazonaws.com/mokacoding/favicon-32x32.png')
    link(rel='icon', type='image/png', sizes='96x96', href='https://s3.amazonaws.com/mokacoding/favicon-96x96.png')
    link(rel='icon', type='image/png', sizes='16x16', href='https://s3.amazonaws.com/mokacoding/favicon-16x16.png')
    link(rel='manifest', href='https://s3.amazonaws.com/mokacoding/manifest.json')
    meta(name='msapplication-TileColor', content='#ffffff')
    meta(name='msapplication-TileImage', content='https://s3.amazonaws.com/mokacoding/ms-icon-144x144.png')
    meta(name='theme-color', content='#ffffff')

    // SumoMe
    script(src="//load.sumome.com/", 'data-sumo-site-id'="dd80959300db03e20c8bc3dd899f1424fd764d261e6c3c41923c96482a270dba", async="async")

  body
    // Use this to render an extra header in special occasions
    include _special-header
    .page
      .row-12
        .col-12.header
          h1.brand
            a(href="#{baseUrl}") mokacoding
          .punchline unit and acceptance testing, automation, productivity
          .links
            a(href="#{baseUrl}archive.html") Archive
            a(href="#{baseUrl}tags.html") Tags
            a(href="https://gio.codes") About
            a(href="#subscribe") Subscribe
            a(href="#{baseUrl}feed.xml")
              i.fa.fa-rss

        .col-12
          block contents

      .row-12.footer
        .col-12
          h3
            a(href="#{baseUrl}") mokacoding
        .col-9#copy
          :markdown
            Hi I'm [Gio](https://gio.codes) I write here semi-regularly on software testing and TDD, productivity, and iOS development.

          :markdown
            [Get in touch](mailto:gio+blog@mokacoding.com) if you're interested in working together.

        .col-3#links
          p
            i.fa.fa-twitter
            | &nbsp;
            a(href="https://twitter.com/mokagio") @mokagio
          p
            i.fa.fa-github
            | &nbsp;
            a(href="https://github.com/mokagio") mokagio

  script.
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-43554041-1', 'auto');
    ga('send', 'pageview');

  script.
    var toggle = function(elm){
      var y = elm.style && elm.style.display ? elm.style.display : 'block';
      if (y == 'block'){
        elm.style.opacity='0';
        setTimeout( function(){ elm.style.display = 'none'; }, 300 );
      }
      else {
        elm.style.display='block';
        setTimeout( function(){ elm.style.opacity = '1'; }, 10 );
      }
    }

    document.getElementById('close').onclick = function(){
      toggle(document.getElementById('sticky-header'));
      toggle(document.getElementById('sticky-header-padding-hack'));
    }
