doctype html
html(lang="en")
  head
    if title
      title #{title} | mokacoding
    else
      title mokacoding
    if description
      meta(name="description", content="#{description}")
    else
      meta(name="description", content="A blog where we write about testing, iOS development, productivity, and blabber about software in general.")
    link(href="#{baseUrl}css/griddy.css", rel="stylesheet")
    link(href="#{baseUrl}css/style.css", rel="stylesheet")
    link(href="#{baseUrl}css/font-awesome.min.css" rel="stylesheet")
    link(href="#{baseUrl}css/zenburn.css" rel="stylesheet")
    link(href="//cdn-images.mailchimp.com/embedcode/slim-081711.css", rel="stylesheet", type="text/css")
    link(href="#{baseUrl}css/mailchimp-form-override.css", rel="stylesheet")
    meta(http-equiv="content-type" content="text/html; charset=utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1")
  body
    .page
      .row-12
        .col-12.header
          h1.brand
            a(href="#{baseUrl}") mokacoding
          .punchline unit and acceptance testing, automation, productivity
          .links
            a(href="#{baseUrl}archive.html") Archive
            a(href="#{baseUrl}tags.html") Tags
            a(href="http://giovannilodi.com") About
            a(href="#subscribe") Subscribe
            a(href="#{baseUrl}feed.xml")
              i.fa.fa-rss

        .col-12
          block contents

      .row-12.footer
        .col-12
          h3
            a(href="#{baseUrl}") mokacoding
        .col-9#copy
          :markdown
            Hi I'm [Giovanni Lodi](http://giovannilodi.com) and this is my blog. I write here at least once a month, on software testing, productivity, and iOS development.

          :markdown
            I'm a freelance iOS engineer, and [I'm available for contract work](mailto:giovanni.lodi42+blog@gmail.com).

          :markdown
            Check out my [tech journal](http://mokagio.github.io/tech-journal), and my app [Fineants](https://itunes.apple.com/au/app/fineants-savings-tracker/id888444078?mt=8).

        .col-3#links
          p
            i.fa.fa-twitter
            | &nbsp;
            a(href="https://twitter.com/mokagio") @mokagio
          p
            i.fa.fa-github
            | &nbsp;
            a(href="https://github.com/mokagio") mokagio

  script.
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-43554041-1', 'auto');
    ga('send', 'pageview');
  script.
    var external_links = document.querySelectorAll('a:not([href^="/"]):not([href$="#subscribe"])');
    // external_links is an HTMLCollection, not an Array, so we can't call forEach
    for (var i = 0; i < external_links.length; i++) {
      var link = external_links[i];
      link.setAttribute("target", "_blank");
    }
